In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [10]:
df = pd.read_csv('query_result_2021-06-14T15_59_05.825731Z.csv')

In [18]:
df['flight_time'] = df['flight_time'].str.replace('0 years 0 mons 0 days 0 hours','')
df['flight_time'] = df['flight_time'].str.replace('0 years 0 mons 0 days','')
df['flight_time'] = df['flight_time'].str.replace(' 0.00 secs','')
df['Fuel_price_t'] = 45000 # цена в Анапе на декабрь 2017г
df['Fuel_consumption_t/h'] = np.where(df.model == 'Sukhoi Superjet-100', 1.7, 1.857)
df['time_factor'] = np.where(df.model == 'Sukhoi Superjet-100', 0.83, 1.66) 
df['fuel_cost'] =df['Fuel_consumption_t/h'] *df['Fuel_price_t'] *df['time_factor']

In [21]:

df['flight_time'].value_counts()

 50 mins            55
 1 hours 40 mins    41
 1 hours 39 mins    21
 51 mins            18
 49 mins            17
 1 hours 41 mins    15
 1 hours 42 mins     6
 1 hours 38 mins     6
 1 hours 43 mins     1
Name: flight_time, dtype: int64

In [15]:
df

,flight_id,departure_airport,actual_departure,arrival_airport,model,fill_percentage,ticket_price,flight_time,Fuel_price_t,Fuel_consumption_t/h,time_factor,fuel_cost
0,136698,AAQ,2016-12-01T09:30:00Z,EGO,Sukhoi Superjet-100,96,72400800.0,49 mins,45000,1.700,0.83,63495.0
1,136187,AAQ,2016-12-01T10:09:00Z,SVO,Boeing 737-300,99,243594000.0,1 hours 40 mins,45000,1.857,1.66,138717.9
2,136774,AAQ,2016-12-02T09:27:00Z,EGO,Sukhoi Superjet-100,95,71789700.0,50 mins,45000,1.700,0.83,63495.0
3,136474,AAQ,2016-12-02T10:06:00Z,SVO,Boeing 737-300,100,245180000.0,1 hours 38 mins,45000,1.857,1.66,138717.9
4,136873,AAQ,2016-12-03T09:26:00Z,EGO,Sukhoi Superjet-100,98,73623000.0,51 mins,45000,1.700,0.83,63495.0
...,...,...,...,...,...,...,...,...,...,...,...,...
175,136351,AAQ,2017-02-26T10:13:00Z,SVO,Boeing 737-300,80,202202000.0,1 hours 40 mins,45000,1.857,1.66,138717.9
176,136953,AAQ,2017-02-27T09:27:00Z,EGO,Sukhoi Superjet-100,100,74234100.0,50 mins,45000,1.700,0.83,63495.0
177,136266,AAQ,2017-02-27T10:08:00Z,SVO,Boeing 737-300,83,203632000.0,1 hours 40 mins,45000,1.857,1.66,138717.9
178,136844,AAQ,2017-02-28T09:26:00Z,EGO,Sukhoi Superjet-100,81,55784700.0,50 mins,45000,1.700,0.83,63495.0
179,136215,AAQ,2017-02-28T10:09:00Z,SVO,Boeing 737-300,87,216320000.0,1 hours 40 mins,45000,1.857,1.66,138717.9